/* @src/components/Modal.module.css */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 600px;
  height: 400px;
  background: white;
  color: black;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading1 {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
}

.heading2 {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-size: larger;
}

.description {
  margin: 0;
  padding-left: 10px;
  color: #5a5d60;
}

.textContainer {
  padding: 10%;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  /* position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%; */
  width: 50%;
  padding: 5%;
  float:left;
}
.rightSide{
  width: 50%;
  padding: 10%;
  border-radius: 5%;
  float:right;
  background-color: #5a5d60;
  height:100%;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 80%;
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 10%;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #ffffff;
  background: #0d2116;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(20, 28, 23, 0.6);
  transform: translateY(-5px);
  background: #33662e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #1d2d26;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.flex-container {
  display: flex;
  flex-direction: row;
}